html {
    background-color: darkred;
}

h1 {
    text-align: center;
    border-radius: 5px;
    border: 5px solid;
    text-align: center;
    color: white;
}

h2 {
    font-size: 2em;
    text-align: center;
    width: 400px;
    color: red;
}

.zm {
    background-image: url('ZM-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(245, 172, 13);
}

p {
    font-size: 2em;
    text-align: center;
}

.box {
    width: 400px;
    height: 200px;
}

#h2r {
    float: right;
    height: 200px;
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

#argan {}

#p1 {
    float: left;
}

#p2 {
    float: center;
}

#p3 {
    float: right;
}