html {
    font-size: 16px;
    background-color: burlywood;
}

* {
    box-sizing: border-box;
}

.l {
    float: left;
}

.r {
    float: right;
}

h1 {
    border-radius: 5px;
    font-size: 6em;
    color: rgb(255, 0, 0);
    text-align: center;
    background-color: rgb(107, 34, 34);
}

p.srodek {
    text-align: center;
}

p.white {
    color: white;
    text-align: center;
}

#r {
    float: right;
}

#li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-decoration: underline;
    font-style: italic;
}

@media (min-width: 1200px) {}

nav {
    float: left;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

header {
    position: relative;
}

#logo-img {
    background-image: url("flag.jpg")
}